* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #212529;

  font-family: "Pacifico" sans-serif;
  color: #212529;
}
header {
  position: fixed;
  z-index: 3;
  top: 0;
  padding: 0ch;
  max-height: 100vh !important;
}
.head {
  width: 100vw;
  background-color: #141414;
  overflow: hidden;
  font-family: "Otomanopee One";
  transition: height 0.3s;
  height: 0px;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  border-bottom: 1px solid #8a948a;
  overflow-y: scroll;
 
}
.container {

  font-family: "Otomanopee One";
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  flex-flow: wrap;
    width: 100%;
    padding-right: bar( 0.75rem);
    padding-left: bar( 0.75rem);
    margin-right: auto;
    margin-left: auto;

}
.bar {
  display: flex;
  flex-flow: wrap;
  min-height: 60px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-family: "Otomanopee One";
  background-color:  #101b27;
  color: #8a948a ;
 border-bottom: 2px solid #0e0f1b;
}

.bar-1, .bar-3 {
  border: 1px outset #343a40;
 text-align: center;
  font-size: 1.8em;
  /*border-bottom: 2px solid #0f6586;*/
  margin: 5px 40px;
  border-radius: 5px;
  padding: 4px;
  height: 45px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.bar-1 span{
 display: flex;
 /* border: 2px solid #0f6586;*/
  justify-content: center;
  align-items: center;

}
.bar-3 span{
  display: flex;
   /*border: 2px solid #8b2234;*/
   justify-content: center;
   align-items: center;
 }
 .bar-2 span{
  display: flex;
   /*border: 2px solid #8b2234;*/
   justify-content: center;
   align-items: center;
 }
 
.bar-2 {
  margin: 5px 40px;
  border: 1px outset #343a40;
  font-size: 1.82em;
  border-radius: 5px;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-items: center;

  position: relative;
  height: 45px;
  width: 50px;
 
}

.count {
  border-radius: 50%; 
  font-size: small;
  height: 1.5em;
  width: 1.5em;
  position: absolute;
  top: 0;
  left: center;
  color: #e5e5e5;
  font-weight: bolder;
  
  
}

.bar-1:hover,
.bar-2:hover,
.bar-3:hover {
  box-shadow: 0 0 10px #0f6586;
  color: #0f6586;
  cursor: pointer;
}

.tabs-container
{
position: fixed;
top: 60px;
z-index: 2;
transition: transform 0.3s;
transform: translateX(-100%);
border-radius: 0 0 5px 0;
max-height:calc(100vh - 60px) ;
}

.tabs {
  display: flex;
  flex-direction:column;
  width: 200px;
  background-color: #101b27;
  align-items: center;
  justify-content: flex-start;
flex-wrap: wrap;
border-radius: 0 0 5px 0;
margin-bottom: 10px;
}

.trasl {
  transform: translateX(0%);
}

.tabs > div {
 width: 100%;
 text-align: center;
 padding: 10px 10px;
/*border: #0f6586 1px solid;*/
display: flex;
justify-content: center;
}
.tabs > div:first-child{
  margin-top: 10px;
}
.tabs > div >div{
  box-shadow: 0px 0px 5px #6d756d;
  padding: 10px;
  font-family: "Otomanopee One";
  font-size: small;
  color: #8a948a ;
  width: 150px;
  border-radius: 5px;
}

.tabs > div >div:hover{
  box-shadow: 0px 0px 15px #0f6586;
  color: #0f6586;
  cursor: pointer;
  
}

.active
{
  box-shadow: 0px 0px 15px #0f6586 !important;
  color: #0f6586 !important;
}

.container h4{
  color:  #0f6586;;
}
.contact ul {
  list-style: none;
  color: #8a948a;
  font-size: small;
}
.contact a {
  margin: 10px;
  color: #8a948a;
  text-decoration: none;
}
.contact span *{
  color: #0f6586;
}

.contact span:first-child{
  font-size: 1.3em ;
  color: #8a948a;
  vertical-align: sub;
}
.contact a:hover {
  color:#0f6586 ;
}

.contact {
  color: #8a948a ;
  margin: 10px;
  min-width: 156px;
  white-space: nowrap;

}
.about {
  flex: 0 1 600px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin: 5px;
  color: #8a948a ;
}
.about p {
  font-size: small;
}


section {
  font-family: sans-serif;
  position: relative;
  top: 60px;
}

.container-photos {
  text-align: center;
  margin: 80px auto;
  position: relative;
  z-index: 1;

}


.container-photos button{
  width: 150px;
  height: 30px;
  background-color: #daedee !important;
  color: #0f6586;
  border-radius: 5px;
  font-family: "Otomanopee One";
  cursor: pointer;
  border:none

}
.container-photos button.download-btn{
  color: #daedee;
  background-color: #36ca63 !important;
}


.container-photos h1 {
  font-weight: normal;
  font-size: 35px;
  margin: 40px 0;
  position: relative;
  background-color: #212529;
}

@keyframes animate {
  0% {
    width: 100px;
  }
  50% {
    width: 200px;
  }
  100% {
    width: 100px;
  }
}
#photo {
  background-color: lightgray;
  width: 170px;
  height: 170px;
  background-position: 30% 50%;
  margin: 20px auto 20px auto;
  border-radius: 50%;
  box-shadow: 0px 0px 10px #343a40;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 2px ridge #343a40;

}

.top-content {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items:flex-start;

  width: 100%;
  margin: 10px auto;
  position: relative;
  font-weight: bold;
  /*background-image: url(fondo.jpg);*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px 55%;
  border-radius: 5px;
  box-shadow: 0 0 5px #0f6586;
  
}
.top-content > div {
  width: 300px;
}


.container-photos p {
  width: 296px;
  display: none;
  line-height: 40px;

}


.photo-gallery {
  width: 100%;
  margin: 50px auto 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 10px;
  background-color: #e5e5e5;
 /* border-left:  1px  solid #343a40;*/
  /*border-radius: 5px;*/
  box-shadow: 0 0 5px #0f6586;
  /*box-shadow:0 0 10px #0d6efd; ;*/
 
}


.pic {
  position: relative;
  border-radius: 2px;
  margin: 10px;
  box-shadow: 0px 0px 2px #101b27;
  width: 300px;
  transition: transform 0.3s;
  padding: 10px;
  
}
.pic::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*background-color: red;*/
  z-index: 0;
}

.pic img {
  border-radius: 2px;
  width: 100%;
  z-index: 20;
}

.buy-mark{
 position: absolute;
 top: -35px;
 right: -35px;
 height: 70px;
 width: 70px;
 background-color: #343a40;
clip-path: polygon(0 100%, 50% 50%, 100% 100%);
font-family: "Otomanopee One";
  font-size: small;
  color: #b4c0b4 ;
 transform: rotate(45deg) ; 
 text-align: center;
 display: flex;
 justify-content: center;
 align-items: flex-end;
 padding: 5px;
 cursor: pointer;
 z-index: 2;
 border-radius: 10px;
}
.buy-mark span > *{
  transform: rotate(-45deg) 

}
.active-buy{
  background-color: #0f6586;
}
.purchased .active-buy{
  background-color: #c6efff;
}
.purchased::before{
position:absolute;
content: "Comprada";
width:100%;
height: 100%;
background-color: rgba(106, 199, 202, 0.5);
left: 0;
top:0;
display: flex;
justify-content: center;
align-items: center;
color:#c6efff;
font-family: "Otomanopee One"; 
font-weight: bold;
font-size: 1.5em;

}
/*
.pic::before {
  content: "PHOTO GALLERY";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 15px;
  font-weight: bold;
  width: 100%;
  margin-top: -100px;
  opacity: 0;
  transition: 0.3s 0.2s;
  z-index: 1;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: #0f6586;
}
.pic:hover::before {

  margin-top: 0%;
  opacity: 1;
}
.pic::after {
  content: "";
  height: 0px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(171, 235, 198,0.4);
  transition: 0.3s 0.2s;
  border-radius: 2px;
}

.pic:hover::after {
  height: 100%;
}*/

@media (max-width: 820px) {
  .container {
    justify-content: flex-start;
  }
  .bar {
    justify-content: space-around;
  }
  .top-content {
  height: 200px;
}
}



@media (max-width: 575px) {
  
  .top-content,
  .photo-gallery {
    max-width: 90vw;
  }
}
@media (max-width: 450px) {
  
  .bar {
    justify-content: space-evenly;
  }
  .bar-1, .va-2, .bar-3
  {
    margin: 5px 5px 5px 5px;
  }
}

@media (min-width: 576px) {
  .container,
  .top-content,
  .photo-gallery {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container,
  .top-content,
  .photo-gallery {
    max-width: 720px;
  }
  
}
@media (min-width: 992px) {
  .container,
  .top-content,
  .photo-gallery {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container,
  .top-content,
  .photo-gallery {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container,
  .top-content,
  .photo-gallery {
    max-width: 1320px;
  }
}
